header {
  text-align: center;
}

#featured-property img {
  display: block;
  margin: 0 auto;
}

nav {
  text-align: center;
}

nav a {
  padding: 10px;
  background-color: rgb(201, 93, 93);
}
figcaption {
  font-size: smaller;
  text-align: center;
}
#featured-property p {
  width: 800px;
  margin: 20px auto; 
  text-align: center;
}
#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: rgb(38, 53, 102); /
}
#details::after {
  content: "";
  display: table;
  clear: both;
}
